<!doctype html>

<head>
    <title>
        Dashboard
    </title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- SCRIPTS TO INCLUDE -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' , integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
        crossorigin='anonymous'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
</head>

<body>
    <div class="container">
        <h4>Device ID</h4>
        <div class="row">
            <div class="col-10">
                <input type="text" placeholder="Enter your Device ID" class="form-control" id="device_id">
            </div>
            <div class="col-2">
                <button class="btn btn-primary btn-block" id="submit_device_id">Submit</button>
            </div>

        </div>
        <div class="success">
        </div>
        <div class="error">
        </div>

        <div id="output_data">
            <input type="text" placeholder="Case insensitive search" id="search_table" class="form-control">
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>